In [4]:
import pandas as pd

df = pd.read_csv("../../data/02/emotions.csv")

In [10]:
_ = pd.read_csv("../../data/03/posts.csv")
_.head()

,Unnamed: 0,user_id,date,text,major,anger,fear,fun,happy,hate,love,neutral,sadness,worry
0,0,7,2019-06-25,@grayguitar @andrewconnell I'm starting to fee...,worry,0.200591,0.980000,0.071671,0.251115,0.857450,0.711335,0.971160,0.832889,0.255250
1,1,9,2019-06-25,@solangeknowles you are so freaking awesome So...,sadness,0.092699,0.676225,0.459299,0.880022,0.451783,0.681055,0.939451,0.312333,0.753867
2,2,1,2019-06-25,Boarding the USS Enterprise.. Warp speed ahead...,happy,0.916915,0.305563,0.857966,0.082895,0.183296,0.278432,0.943966,0.617670,0.470783
3,3,6,2019-06-25,i shall have to stay feeling neglectful of all...,sadness,0.879376,0.072371,0.211467,0.952771,0.242165,0.839446,0.426221,0.934668,0.477108
4,4,2,2019-06-25,r u still there? ? I guess not i want to ta...,worry,0.813271,0.160142,0.484049,0.186210,0.246679,0.219818,0.486765,0.715595,0.019771

In [74]:
print(df.shape)
df.head()

(54931, 3)

,text,lemma,sentiment
0,i didnt feel humiliated,not feel humiliate,sadness
1,i can go from feeling so hopeless to so damned...,go feel hopeless damn hopeful around someone c...,sadness
2,im grabbing a minute to post i feel greedy wrong,grab minute post feel greedy wrong,anger
3,i am ever feeling nostalgic about the fireplac...,ever feel nostalgic fireplace know still property,love
4,i am feeling grouchy,feel grouchy,anger

In [75]:
df.sentiment.value_counts()

happy      12232
sadness    11422
neutral     8507
worry       8440
love        5479
anger       3103
fear        2652
fun         1775
hate        1321
Name: sentiment, dtype: int64

In [77]:
# Dataframe for users

cols = [
    "user_name", 
    "user_register_date",
    "user_city",
    "user_monitoring",
]


user_df = pd.DataFrame(columns=cols)


names_list = "Lily-Rose Cotton Tracey Mcdonald Tiah Hampton Burhan Marks Alasdair Cyrus".split(" ")
user_df.user_name = names_list
user_df.user_register_date = "2019-06-25"
user_df.user_city = "Lille"
user_df.user_monitoring = ""
user_df

   user_name user_register_date user_city user_monitoring
0  Lily-Rose         2019-06-25     Lille
1     Cotton         2019-06-25     Lille
2     Tracey         2019-06-25     Lille
3   Mcdonald         2019-06-25     Lille
4       Tiah         2019-06-25     Lille
5    Hampton         2019-06-25     Lille
6     Burhan         2019-06-25     Lille
7      Marks         2019-06-25     Lille
8   Alasdair         2019-06-25     Lille
9      Cyrus         2019-06-25     Lille

In [78]:
cols = [
    "user_id",
    "msg_date",
    "msg_text",
    "msg_major",
    "msg_anger",
    "msg_fear",
    "msg_fun",
    "msg_happy",
    "msg_hate",
    "msg_love",
    "msg_neutral",
    "msg_sadness",
    "msg_worry"
]
msg_df = pd.DataFrame(columns=cols)

In [79]:
sample = df.sample(1)
sample.iloc[0]["text"], sample.iloc[0]["sentiment"]

('@GLAMvoy Yes I think so unless it changed.  I sent u a happy mothers day text but u never responded back',
 'sadness')

In [80]:
msg_df

Empty DataFrame
Columns: [user_id, msg_date, msg_text, msg_major, msg_anger, msg_fear, msg_fun, msg_happy, msg_hate, msg_love, msg_neutral, msg_sadness, msg_worry]
Index: []

In [81]:
from numpy.random import randint, uniform as u

date = "2019-06-25"
i = 0
for j in range(20):
    if i / 10 == 1:
        i = 0
    s = df.sample(1)
    msg_df.loc[j] =[randint(0, 10), date, s.iloc[0]["text"], s.iloc[0]["sentiment"], u(), u(), u(), u(), u(), u(), u(), u(), u()]

In [82]:
msg_df

,user_id,msg_date,msg_text,msg_major,msg_anger,msg_fear,msg_fun,msg_happy,msg_hate,msg_love,msg_neutral,msg_sadness,msg_worry
0,8,2019-06-25,i love all da sexy ladiez ya beautiful unique ...,love,0.604999,0.390643,0.807246,0.250015,0.106402,0.985424,0.710595,0.187343,0.795979
1,1,2019-06-25,i dont know how to explain to you all the emot...,love,0.939684,0.004805,0.666241,0.948535,0.135430,0.762297,0.994771,0.990124,0.873539
2,8,2019-06-25,@swamwine Yeah! Thanks! I'll be back in soon t...,love,0.555049,0.127534,0.730983,0.291812,0.978555,0.961076,0.587596,0.567723,0.927424
3,4,2019-06-25,i feel calm and okay but sometimes i just get ...,happy,0.789170,0.378934,0.010054,0.382677,0.779995,0.232247,0.871201,0.318616,0.823189
4,7,2019-06-25,Sorting out Twitter issues....very frustrated ...,sadness,0.145375,0.735272,0.556742,0.173615,0.803377,0.352663,0.452289,0.781035,0.275906
5,4,2019-06-25,i feel determined even if nervous about the un...,happy,0.771547,0.414953,0.077189,0.353478,0.944439,0.550042,0.328112,0.223174,0.009819
6,1,2019-06-25,when we stayed in vienna with our class,fear,0.429251,0.669631,0.749570,0.785327,0.151958,0.705126,0.387590,0.180752,0.493257
7,0,2019-06-25,i hate storms.,worry,0.815066,0.328434,0.779316,0.502395,0.488474,0.022155,0.218752,0.099932,0.951560
8,8,2019-06-25,i am on BLAZE and my head hurts.,worry,0.841726,0.318780,0.348130,0.070946,0.717328,0.113960,0.899726,0.013460,0.553789
9,5,2019-06-25,a Dutch marketing agency is asking job applica...,neutral,0.678607,0.890771,0.533511,0.830520,0.493471,0.302623,0.159066,0.261856,0.478206
10,7,2019-06-25,i am left feeling numb and shaky,sadness,0.279164,0.614566,0.682568,0.614033,0.078421,0.625123,0.595496,0.234539,0.949552
11,5,2019-06-25,when i first heard i like you from my boyfriend,happy,0.037569,0.667280,0.743265,0.208985,0.982063,0.837844,0.779988,0.661408,0.502540
12,3,2019-06-25,@AshleighGrace93 morning ashleighhh x,neutral,0.662112,0.527511,0.524379,0.382921,0.491395,0.923247,0.932668,0.323502,0.996096
13,6,2019-06-25,i can have strong feelings of inadequacy and b...,happy,0.280960,0.303964,0.014053,0.752417,0.684726,0.930048,0.743178,0.287222,0.272282
14,4,2019-06-25,i was feeling pretty anxious all day but my fi...,fear,0.050651,0.544769,0.306391,0.518252,0.671325,0.469580,0.856807,0.863045,0.569995
15,1,2019-06-25,i cant help but feeling a little hesitant abou...,fear,0.412052,0.499988,0.080581,0.236762,0.652676,0.810466,0.992807,0.412332,0.051955
16,8,2019-06-25,anticipating a tough day ahead,worry,0.725717,0.210205,0.322582,0.848412,0.968209,0.464073,0.347197,0.756910,0.174984
17,9,2019-06-25,"chilling on the sofa, I hate vaccinations, I f...",worry,0.994928,0.721856,0.519299,0.603632,0.004960,0.477519,0.851123,0.394674,0.360597
18,1,2019-06-25,@oheather78 Sweet! I'm a Jaycee one-letter-er ...,fun,0.535082,0.602161,0.712975,0.373674,0.064686,0.243387,0.701616,0.239934,0.628927
19,9,2019-06-25,i feel i am wrongly punished or that my misbeh...,sadness,0.655966,0.520763,0.422587,0.894086,0.187115,0.750997,0.262859,0.094673,0.919938

In [83]:
msg_df.to_csv('../data/03/messages.csv', index_label="msg_id")
user_df.to_csv('../data/03/users.csv', index_label='user_id')

In [84]:
user_df

   user_name user_register_date user_city user_monitoring
0  Lily-Rose         2019-06-25     Lille
1     Cotton         2019-06-25     Lille
2     Tracey         2019-06-25     Lille
3   Mcdonald         2019-06-25     Lille
4       Tiah         2019-06-25     Lille
5    Hampton         2019-06-25     Lille
6     Burhan         2019-06-25     Lille
7      Marks         2019-06-25     Lille
8   Alasdair         2019-06-25     Lille
9      Cyrus         2019-06-25     Lille